<fieldset class="border rounded pl-3 pr-3 m-3">
	<legend>Create a user:</legend>
	<form method="post">
		<div class="form-row">
			<div class="form-group col-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label class="control-label input-group-text">Username</label>
					</div>
					<input name="username" class="form-control" />
				</div>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label class="control-label input-group-text">Password</label>
					</div>
					<input name="password" class="form-control" />
				</div>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label class="control-label input-group-text">Email</label>
					</div>
					<input name="email" class="form-control" />
				</div>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label class="control-label input-group-text">First Name</label>
					</div>
					<input name="firstName" class="form-control" />
				</div>
			</div>
			<div class="form-group col-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label class="control-label input-group-text">Middle Name</label>
					</div>
					<input name="middleName" class="form-control" />
				</div>
			</div>
			<div class="form-group col-4">
				<div class="input-group">
					<div class="input-group-prepend">
						<label class="control-label input-group-text">Last Name</label>
					</div>
					<input name="lastName" class="form-control" />
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
			<input type="reset" value="Reset" class="btn btn-warning" />
		</div>
	</form>
</fieldset>